*.iso
discdir/
src/**/*.class
META-INF/
.DS_Store
**/*.class
**/*.jar
payloads/**/*.jar
src/org/bdj/Version.java
payloads/poops/src/org/bdj/external/kexp-*.bin
payloads/poops/src/org/bdj/external/elfldr-*.elf
payloads/poops/src/org/bdj/external/BinaryPaths.java
payloads/poops/src/org/bdj/external/ps5-unified-autoloader.elf
